@*指定Models資料型態為List<MVC_Test.Models.RouteTest.TempProducts>*@
@model List<MVC_Test.Models.RouteTest.RouteTest> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h2>商品列表</h2>
<table class="table">
    <thead><tr><td>編號</td><td>名稱</td><td>售價</td></tr></thead>
    <tbody>
        @foreach (var pd in this.Model) /*將所有商品資訊列成表格元素*/
        {
            <tr>
                <td>@pd.ID</td>
                <td>@pd.Name</td>
                <td>@pd.Price</td>
            </tr>
        }
    </tbody>
</table>